body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url('Background.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

h2 {
  margin-top: 0;
  color: #333333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555555;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 5px;
  border: 3px solid #cccccc;
  border-radius: 3px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #007bff;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 15px;
  color: #777777;
}

.message a {
  color: #007bff;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}